<!-- INCLUDE overall_header.html -->
<div style="margin:0px 15px; display:block">
    <h2>Ouverture de table</h2>
    <form method="post">
        <fieldset>
            <dl>
                <dt><label for="name">Nom du jeu * : </label></dt>
                <dd><input type="text" name="name" id="name" placeholder="" value="{{ board.name }}"
                        style="width: 300px" required /></dd>
            </dl>
            <dl>
                <dt><label for="url">Url du descriptif : </label></dt>
                <dd><input type="url" name="url" id="url" placeholder="http://www.laguilde-poitiers.com/"
                        value="{{ board.url }}" style="width: 300px" /></dd>
            </dl>
            <dl>
                <dt><label for="type">Type * : </label></dt>
                <dd><select name="type" id="type">
                        <option value="os" {{ board.type=="os" ? "selected" : "" }}>One shot</option>
                        <option value="co" {{ board.type=="co" ? "selected" : "" }}>Compagne ouverte</option>
                        <option value="cf" {{ board.type=="cf" ? "selected" : "" }}>Compagne fermée</option>
                        <option value="ts" {{ board.type=="ts" ? "selected" : "" }}>Table de secours</option>
                    </select></dd>
            </dl>
            <dl>
                <dt><label for="time">Heure de début * : </label></dt>
                <dd><input type="text" name="time" id="time" placeholder="21h" value="{{ board.time }}"
                        style="width: 50px" required /></dd>
            </dl>
            <dl>
                <dt><label for="min">Nombre de joueurs minimum * : </label></dt>
                <dd><input type="number" name="min" id="min" placeholder="3" min="1" max="20"
                        value="{{ board.minPlayer }}" required /></dd>
            </dl>
            <dl>
                <dt><label for="max">Nombre de joueurs maximum * : </label></dt>
                <dd><input type="number" name="max" id="max" placeholder="5" min="1" max="20"
                        value="{{ board.maxPlayer }}" required /></dd>
            </dl>
            <dl>
                <dt><label for="trigger_warning">Trigger warning : </label></dt>
                <dd><input type="text" name="trigger_warning" id="trigger_warning" placeholder="sex - violence - ..."
                        value="{{ board.trigger_warning }}" style="width: 300px" /></dd>
            </dl>
            <dl>
                <dt><label for="description">Courte description : </label></dt>
                <dd><input type="text" name="description" id="description" placeholder=""
                        value="{{ board.description }}" style="width: 300px" /></dd>
            </dl>
            <dl>
                <dt><label for="preinscription">Pré-inscription : </label></dt>
                <dd><textarea name="preinscription" id="preinscription" placeholder="Un joueur par ligne"
                        style="width: 300px; height: 100px">{{ preinscription }}</textarea>
            </dl>
            <input type="submit" value="Ouvrir la table" /><br />
            <i>* informations obligatoires</i>

    </form>
</div> <!-- INCLUDE jumpbox.html --> <!-- IF S_DISPLAY_ONLINE_LIST -->
<div class="stat-block online-list">
    <h3><!-- IF U_VIEWONLINE --><a
            href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
    <p>{LOGGED_IN_USER_LIST}</p>
</div> <!-- ENDIF --> <!-- INCLUDE overall_footer.html -->